<html>
  <head>
    <meta http-equiv="refresh" content="<%= settings.duration %>" /> 
    <meta name="viewport" content="width=device-width">
    <title><%= settings.title %> (<%= settings.width %>×<%= settings.height%>)</title>
    <style>
      [touch-action="none"] {
         -ms-touch-action: none;
         touch-action: none;
         }
      [touch-action="pan-x"]  {
        -ms-touch-action: pan-x;
        touch-action: pan-x;
      }
      [touch-action="pan-y"]  {
        -ms-touch-action: pan-y;
        touch-action: pan-y;
      }
      [touch-action="scroll"], [touch-action="pan-x pan-y"], [touch-action="pan-y pan-x"] {
        -ms-touch-action: pan-x pan-y;
        touch-action: pan-x pan-y;
      }
    </style>
  </head>

  <body style="margin: 0px;">

<!--     <% pun_number = puns.length-1 %> -->
    <h1><%= puns.first %></h1>

<!--     <% id = YoutubeSearch.search('puppies').first['video_id'] %>
    <%= %{<iframe src="http://www.youtube.com/embed/#{id}" width=640 height=480 frameborder=0></iframe>} %> -->

    <img style="-webkit-user-select: none; cursor: -webkit-zoom-out;" src="http://placedog.com/<%= settings.width %>/<%= settings.height %>" width="<%= settings.width %>" height="<%= settings.height %>">

  </body>
</html>